#include <dt-bindings/zmk/keys.h>

/ { 
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LSFT &kp LALT &kp LCTRL &kp LGUI
&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp RET &kp BSLH &kp MINUS
&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp UP &kp DEL &kp BACKSPACE &kp EQUAL
&kp LCTRL &kp LALT &kp LGUI &kp SPACE &kp TAB &kp LEFT &kp DOWN &kp RIGHT &kp ESC &kp ENTER &kp PGUP &kp PGDN &kp HOME &kp END
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};


